name: ci-deploy.yml
on:
  push:
    branches:
      - develop
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    needs: test
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Build image Docker (production)
        run: |
          docker build -t ms-customers_latest .

      - name: Verification de l'image
        run: |
          docker images | grep ms-customers
