name: CI - Tests
on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Build image Docker (tests)
        run: |
          docker build \
          --target test \
          -t ms-customers-test \
          -f ms-customers/Dockerfile \
          ms-customers

      - name: Execution des tests
        run: |
          docker run --rm ms-customers-test
